<%- include('header') %>

<head>
    <link rel="stylesheet" href="specs.css">
</head>
<section id="corpo-full">
    <article id="noticia-principal">
        <header id="cabecalho-artigo">
            <hgroup>    
               <h3> Glass > Especificações</h3>
               <h1>  Raio-X no Google Glass</h1>
                <h2> por Gustavo Guanabara</h2>
                <h3 class="direita"> Atualizado em 01/Maio/2013</h3>
            </hgroup>
        </header>              
    <p> Clique em qualquer área destacada da imagem para ter mais informações sobre os recursos do Google Glass. Qualquer ponto vermelho vai te levar a um lugar cheio de novas informações.</p>

    <section id="conteudo">
        <img src="/images/glass-esquema-marcado.jpg" alt="foto glass-esquema-marcado" usemap="#meumapa">
        <map name="meumapa">
            <area shape="poly" coords="184,219,267,209,268,245,185,256" href="google-glass#tela" target="janela" alt="teste mapa">
            <area shape="circle" coords="158,244,12" href="google-glass#camera" target="janela" alt="teste mapa2">
            <area shape="circle" coords="76,51,12" href="google-glass#gadgets" target="janela" alt="teste mapa3">
            <area shape="poly" coords="27,146,83,215,85,254,27,165" href="google-glass#sensores" target="janela" alt="teste mapa3">
        </map>
        <iframe src="google-glass" name="janela" id="frame-spec" ></iframe>

    </section>
</article>
</section>

<%- include('footer') %>