<%- include('header') %>

<head>
    <link rel="stylesheet" href="form.css">
</head>
<section id="corpo-full">
    <article id="noticia-principal">
        <header id="cabecalho-artigo">
            <hgroup>
                <h3>Fale Conosco > Contato</h3>
                <h1>Formulário de Contato</h1>
                <h2>por Gustavo Guanabara</h2>
                <h3 class="right"> Atualizado em 01/Maio/2013</h3>
            </hgroup>
        </header>

        <form action="">
            <fieldset id="usuario">
                <legend>Identificação do Usuário</legend>
                <p><label for="cNome">Nome:</label> <input type="text" name="tNome" id="cNome" size="20" maxlength="30" placeholder="Digite seu Nome Completo"></p>
                <p><label for="cSenha"> Senha: </label><input type= "password" name="tSenha" id="cSenha" size="8" maxlength="8" placeholder="8 dígitos"> </p>
                <p><label for="cMail">E-mail: </label><input type="email" name="tMail" id="cMail" size="20" maxlength="40" placeholder="Coloque Seu E-mail"> </p>
                <fieldset id="sexo">
                   <legend> Sexo: </legend>
                    <input type="radio" name="tSexo" id="cMasc"><label for="cMasc">Masculino</label> <br>
                    <input type="radio" name="tSexo" id="cFem"><label for="cFem">Feminino</label>
                </fieldset>
                <p>Data de Nascimento: <input type="date" name="tNasc" id="cNasc"> </p> 
            </fieldset>
            <fieldset id="endereco">
                <legend>Endereço do Usuário</legend>
                <p><label for="cRua">Logradouro:</label> <input type="text" name="tRua" id="cRua" size="18" maxlength="80" placeholder="Coloque Seu Endereço" > </p>
                <p>Número: <input type="number" name="tNum" id="cNum" min="0" max="99999"> </p>
                Estado:
                Cidade:
            </fieldset>
            <fieldset id="mensagem">
                <legend>Mensagem do Usuário</legend>
                Grau de Urgência:
                Mensagem:
            </fieldset>
            <fieldset id="comprar">
                <legend>Quero um Google Glass</legend>
                Gostaria de adquirir um Google Glass quando disponível
                Cor:
                Quantidade:
                Preço Total: R$
            </fieldset>

            [BOTÃO ENVIAR]
        </form>
    </article>
</section>
<%- include('footer') %>