
<footer id="rodape">
Copyright &copy;2013 - by Gustavo Guanabara<br/>
    <a href="http://facebook.com/cursosemvideo" target="_blank">Facebook </a>| 
    <a href="http://twitter.com/cursosemvideo" target="_blank">Twitter</a>
</footer>
    </div>  
    </body>
    </html>