<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Projeto glass</title>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link href="estilos.css" rel="stylesheet" type="text/css">
    <script>
                
        function mudaFoto(foto){
            document.getElementById('icone').src = foto;
            }
    </script>
    
</head>
<body>
    <div id="interface">
        
        <header id="cabecalho">
         <hgroup><!--Serve para agrupar títulos (não muda na aparencia)-->
            <h1>Google Glass</h1>
            <h2> A revolução do Google está chegando</h2>
        </hgroup>
        

<img id="icone" src="/images/glass-oculos-preto-peq.png">

<nav id="menu">
<h1>Menu Principal</h1> 
<ul>   
<li onmouseover="mudaFoto('/images/home.png')" onmouseout="mudaFoto('/images/glass-oculos-preto-peq.png')"><a href="/" id="pag"> Home </a></li>
<li onmouseover="mudaFoto('/images/especificacoes.png')" onmouseout="mudaFoto('/images/glass-oculos-preto-peq.png')"><a href="/especificacoes"> Especificações </a></li>
<li onmouseover="mudaFoto('/images/fotos.png')" onmouseout="mudaFoto('/images/glass-oculos-preto-peq.png')"><a href="/fotos"> Fotos </a></li>
<li onmouseover="mudaFoto('/images/multimidia.png')" onmouseout="mudaFoto('/images/glass-oculos-preto-peq.png')"><a href="/multimidia">Multimídia</a></li>
<li onmouseover="mudaFoto('/images/contato.png')" onmouseout="mudaFoto('/images/glass-oculos-preto-peq.png')"><a href="/faleconosco"> Fale conosco</a></li>
</ul>
</nav>
</header>